* {
    font-size: 12px;
    font-family: "NotoSansMono Nerd Font";
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
}

#clock,
#pulseaudio,
#network,
#window,
#tray,
#custom-notification,
#scratchpad,
#workspaces,
#taskbar {
    background: #3c3836;
    color: #ebdbb2;
    border-radius: 2px;
    margin: 0 4px;
    padding: 0 10px;
}

#workspaces button,
#taskbar button {
    padding: 0 2px;
    color: #a89984;
}
#workspaces button.focused,
#taskbar button.active {
    color:  #ebdbb2;
    font-weight: bold;
}
#workspaces button:hover,
#taskbar button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: #98971a;
    background: #98971a;
    color: #282828;
}
